
<div id="home-page">

  <nav class="navbar navbar-default map-navbar row site-selection">
    <div class="container-fluid">
      <div id="site-selection-nav">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sports<span class="caret"></span>
            </a>
            <ul class="dropdown-menu sport">
              <li ng-repeat="(sport, keyword) in sports" ng-click="populateList(keyword)"><a>{{ sport }}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Date<span class="caret"></span>
            </a>
            <ul class="dropdown-menu sport">
              <li><a>...</a></li>
            </ul>
          </li>
        </ul>

        <form name="change-location" class="navbar-form navbar-right address-selection" role="search" ng-submit="changeLocation(locationData)">
          <div class="form-group">
            <input id="location-search" type="text" class="form-control" placeholder="Change location..." ng-model="locationData" >
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="row map-site">

    <div class="col-xs-8" id="map"></div>

    <div class="col-xs-4 site-update-container"> 
      <nav class="navbar navbar-default map-navbar site-update">
          <div id="site-update-nav">
            <ul class="nav navbar-nav">
              <li class="refresh-btn">
                <a class="btn btn-default" type="button" ng-click="populateList(currentKeyword, currentRankByFlag)">
                  <i class="fa fa-refresh"></i>
                </a>
              </li>
              <li class="dropdown">
                <a class="btn btn-default dropdown-toggle" type="button" id="order-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Order by...
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="order-by-list">
                  <li ng-click="populateList(currentKeyword, false)">
                    <a>Prominence</a>
                  </li>
                  <li ng-click="populateList(currentKeyword, true)">
                    <a>Distance</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      </nav>

      <div class="list-group">
        <ul>
          <li ng-repeat="elm in sitesResults | filter: siteSearch as results" ng-click="siteListClick($index)">{{elm.name}}</li>
        </ul>
      </div>

    </div>

  </div>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu2gwna7foZrV4In4pDqfP9rLW7hPMLxY&libraries=places&callback=initMap"></script>


<script>
  function initMap() {
    var scope = $('#map').scope();
    scope.userfind();
    google.maps.event.addDomListener(window, 'load', initialize);
  }

  function initialize() {
    var input = document.getElementById('location-search');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }

</script>

