<div class="list-group">
  <form class="search-form">
    <input type="text" placeholder="Search" class="search-input form-control" ng-model="siteSearch">
  </form>
  <ul>
    <p ng-show="!sitesResults.length" class="empty-list">No results found</p>
    <li ng-repeat="elm in sitesResults | filter: siteSearch as results" class="site-list-elm" data-placeId="{{elm.place_id}}">
      <p class="sitename" ng-click="siteListClick($index)"> {{elm.name}} </p>
      <span class="user-checkins">
        <i class="fa fa-user"></i>{{elm.checkins}}
      </span>
      <button class="checkin-button checkin btn" ng-show="!elm.checkedin" ng-click="siteCheckin(elm)"><i class="fa fa-square-o"></i></button>
      <button class="checkin-button checkout btn" ng-show="elm.checkedin" ng-click="siteCheckout(elm)"><i class="fa fa-check-square-o"></i></button>
      <span class="opening-info open-now" ng-show="{{elm.opening_hours.open_now}}">Open Now</span>
      <span class="opening-info close-now" ng-show="{{elm.opening_hours.open_now === false}}">Closed</span>
      
      <!-- Button trigger modal -->
      <span type="button" class="" data-toggle="modal" data-target="#myModal{{elm.place_id}}" ng-click="">
        reviews
      </span>

      <!-- Modal -->
      <div class="modal fade" id="myModal{{elm.place_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{elm.name}}</h4>
            </div>
            <div class="modal-body">
              <ul>
                <div ng-repeate="">
                  <li>
                    <img class="fb-info user-pic" src="{{ user.fbPicture }}" ng-hide="!fbCookie">
                   {{user.fbUserName}}
                  </li>
                </div>

             </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </li>
  </ul>
</div>
